@import "core/reset";
@import 'core/variables';

//review if all classes in html are used or delete them
.header {
    background-color: $header-color;
    height: 15vh;
    text-align: center;
    width: 100%;
    &_h1 {
        padding-top: 20px;
        font-size: 40px;
    }
    &_form {
        padding-top: 40px;
        display: flex;
        justify-content: center;
        gap: 25px;
    }
}

.main {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    &_section1 {
    background-color: grey; //to delete
    width: 40vw;
    display: flex; //mixins if time
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 80vw;
    &_title {
        font-size: 25px;;
    }
    }
    &_section2 {
    background-color: bisque; ////to delete
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    &_title {
        font-size: 25px;;
    }
    &_article {
        background-color: $main-cards-color;
        padding: 30px;
        border-radius: 20px;
        width: fit-content;
        block-size: fit-content;
        &_img {
            width: 100px;
            margin-bottom: 10px;;
        }
        &_h4 {
            font-weight: bold;
            margin-bottom: 10px;
        }
        &_p {
            font-style: italic;
        }
    }
    }
}

.footer {
    width: 100%;
    height: 5vh;
    background-color: $footer-color;
    display: flex;
    justify-content: space-evenly;
}

//JS-managed styles 

.hidden {
    display: none;
}
.favorite {
    background-color: burlywood;
}