@import "core/reset";
@import 'core/variables';
@import 'core/mixins';

.header {
    background-color: $bb-green;
    color: $basic-white;
    height: 20vh;
    text-align: center;
    width: 100%;
    &_h1 {
        padding-top: 20px;
        font-size: 40px;
    }
    &_form {
        padding-top: 40px;
        display: flex;
        justify-content: center;
        gap: 25px;
    }
}

.main {
    display: flex;
    justify-content: space-evenly;
    &_section1 {
        background-color: whitesmoke;
        width: 40vw;
        @include section();
        &_title {
            font-size: 25px;
            width: 100vw;
        }
    }
    &_section2 {
        width: 60vw;
        @include section();
        &_title {
            font-size: 25px;
            width: 100vw;
        }
        &_article {
            background-color: $burlywood;
            padding: 30px;
            border-radius: 20px;
            width: fit-content;
            block-size: fit-content;
            &_img {
                width: 100px;
                margin-bottom: 10px;;
            }
            &_h4 {
                font-weight: bold;
                margin-bottom: 10px;
            }
            &_p {
                font-style: italic;
            }
        }
    }
}

.footer {
    width: 100%;
    height: 5vh;
    background-color: $bb-green;
    color: $basic-white;
    display: flex;
    justify-content: space-evenly;
}

//JS-managed styles 

.favorite {
    background-color: $crystal-blue;
}